.product-catalog {
    width: 95%;
    margin: 1rem auto auto auto;
    background-color: white;

    mat-form-field {
        width: 95%;
        margin: 1rem auto auto auto;
    }
  
    table {
      width: 100%;
    }
  }