<h2 mat-dialog-title>Agendar Cita</h2>
<mat-dialog-content class="mat-typography">
    <form class="form-container">
        <div class="form-group">
            <label for="name">Nombre de la mascota: </label>
            <select id="name" name="id_pet" [(ngModel)]="appointmentData.IdMascota">
                <option *ngFor="let mascota of mascotas" value="{{ mascota.id_mascota }}">{{ mascota.nombre_m }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="proc">Tipo de cita: </label>
            <select id="proc">
                <option>Consulta Veterinaria</option>
                <option>Vacunación</option>
                <option>Grooming</option>
                <option>Castracion</option>
            </select>
        </div>
        <div class="form-group">
            <label for="birth">Fecha de cita: </label>
            <input type="date" id="birth" name="birth" [(ngModel)]="appointmentData.Fecha">
        </div>
        <div class="form-group">
            <label for="hour">Hora de la cita: </label>
            <select id="hour" name="hour_proc" [(ngModel)]="appointmentData.Hora">
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
                <option>13:00</option>
                <option>14:00</option>
                <option>15:00</option>
                <option>16:00</option>
                <option>17:00</option>
                <option>18:00</option>
            </select>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="registerAppointment()" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
