.map-container{

    margin: auto;
    height: 25rem;
    width: 80%;
    display: block;
    text-align: center;
    align-items: center;

    #map-animal{
        height: 100%;
        width: 100%;
    }

    .info-map{
        margin: 1rem auto 1rem auto;
        text-align: center;
        display: flex;
        text-align: center;
        i{
            margin-right: 1rem;
        }
    }
}