.general-container {
    width: 95%;
    margin: 0 auto;
}

.item-inn {
    margin-top: 1rem;
}

.card-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: block;
}

.img-icon {
    margin-left: auto;
}
