<div class="general-container">
    <button mat-flat-button color="primary" class="item-inn" (click)="openDialog()">Realizar Cita</button>
  
    <ng-container *ngFor="let reserva of reservas">
      <mat-card class="item-inn">
        <mat-card-header>
          <mat-card-title>{{ reserva.nombre_mascota }}</mat-card-title>
          <mat-card-subtitle>id_reserva: {{ reserva.id_reserva }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-cont">
          <div class="details">
            <p>Fecha: {{ reserva.Fecha }}</p>
            <p>Hora: {{ reserva.Hora }}</p>
          </div>
          <img mat-card-sm-image src="../../../../assets/img/src/proc/check.png" class="img-icon">
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Editar</button>
          <button mat-button color="warn">Eliminar</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
  