<div class="login-container">
    <form action="#" method="POST" class="login-form">
        <h2 class="login-title">Inicio De Sesión</h2>
        <div class="form-group">
            <label for="username">DPI:</label>
            <input type="text" id="username" name="username" [(ngModel)]="loginObj.Dpi" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" [(ngModel)]="loginObj.Password" required>
        </div>
        <button type="submit" (click)="login()">Login</button>
        <div class="register">
            <p>¿No tienes una cuenta?</p>
            <a href="/register">Regístrate</a>
        </div>
    </form>
</div>
