<div class="main-container">
    <div class="info-login">
        <h1>INICIO DE SESIÓN</h1>
        <label for="email">Correo Electrónico</label>
        <input id="email" type="text" placeholder="nombre@email.com">
        <label for="contrasena">Contraseña</label>
        <input id="contrasena" type="password">
        <button>Ingresar</button>
        <p>¿No tienes una cuenta?</p>
        <a>Registrate</a>
    </div>
    <div class="img-login">
        <img src="../../../assets/img/src/dog_log.jpeg">
    </div>
</div>