<div class="contact-info">
    <div class="phone">
        <mat-icon>
            call
        </mat-icon>
        <p>(+502) 2426-4034</p>
    </div>
</div>
<div class="navigation-bar">
    <img src="../../../assets/img/logo.jpg" class="logo" onclick="window.location='/home'">
    <div class="menu">
        <button mat-button (click)="home()">Inicio</button>
        <button mat-button (click)="services()">Servicios</button>

        <button mat-button [matMenuTriggerFor]="afterMenu">Galería</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
    <div class="login">
        <button class="btn-login"  (click)="login()"><i class="fa fa-user"></i> Cuenta</button>
    </div>
</div>
