<app-carousel-img></app-carousel-img>

<div class="general-services">
  <h2>Nuestros Servicios</h2>
  <p>Los mejores servicios veterinarios para tu mascota</p>
  <img src="../../../assets/img/src/services.png" class="img-service">
  <div class="services-details">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Consulta Veterinaria</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/src/services/consulta.jpeg">
      <mat-card-content>
        <p>
          Es un chequeo de rutina para determinar si el estado de salud de tu mascota es óptimo o bien presenta síntomas de enfermedad que deben ser tratados.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Grooming</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/src/services/grooming.jpeg">
      <mat-card-content>
        <ul>
          <li>Corte de uñas</li>
          <li>Limpieza de Oídos</li>
          <li>Drenaje de glándulas anales</li>
          <li>Fragancia especial</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Planes de Vacunación</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/src/services/vacuna.jpeg">
      <mat-card-content>
        <p>Planes para cachorros y adultos</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Vacuna contra moquillo</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/src/services/moquillo.jpg">
        <mat-card-content>
          <p>Es una enfermedad contagiosa con un 90% de mortalidad.
            Afecta a los caninos no vacunados de todas las edades.
          </p>
        </mat-card-content>
      </mat-card>

  </div>
</div>
