<div class="banner">
    <img src="../../../assets/img/head/banner2.jpg" alt="" class="img-banner">
</div>

<div class="about">
    <div class="info-text">
        <h2>Acerca de Nosotros</h2>
        <p>Animal Garden, es una clínica veterinaria dedicada al cuidado y bienestar de sus mascotas, ofreciendo:</p>
        <ul>
            <li>Consultas veterinarias</li>
            <li>Vacunas</li>
            <li>Castraciones</li>
            <li>Grooming</li>
            <li>Personal Calificado</li>
        </ul>
        <button>CONTÁCTANOS</button>

    </div>
    <img src="../../../assets/img/src/puppies.jpeg" class="img-about">
</div>

<div clas="mapa">
    <h2>Ubicación</h2>
    <app-map-location></app-map-location>
</div>
