.footer-container{
    background-color: transparent;
}

.wave {
    position: relative;
    margin: 0;
}

.info-footer {
    font-family: serif;
    display: flex;
    position: absolute;
    margin: -8% 0 auto 10%;
    font-size: 1.2rem;
    color: white;
    line-height: 2rem;
    text-align: center;

    .socials {
        width: 35%;
        text-align: center;
        margin-right: 2rem;
        display: block;

        .facebook, .email{
            text-decoration: none;
            color: white;
        }
    }

    .info{
        width: 35%;
        
        text-align: center;
    }
}

.copyright {
    background-color: #2097a3;
    color: white;
    text-align: center;
    margin-top: -1rem;
    height: 2rem;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .footer-container{
        margin-top: 3rem;
    }
}