<div class="general-account">
    <mat-card class="item-inn">
        <mat-card-header>
            <mat-card-title>Información de la cuenta</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-cont">
            <form class="form-container">
                <div class="form-group">
                    <label for="name">Nombre(s):</label>
                    <input type="text" id="username" name="name">
                </div>
                <div class="form-group">
                    <label for="las_name">Nombre(s):</label>
                    <input type="text" id="username" name="last_name">
                </div>
                <div class="form-group">
                    <label for="birth">Fecha de cita:</label>
                    <input type="datetime-local" id="birth" name="birth">
                </div>
                <div class="form-group">
                    <label for="birth">Fecha de Nacimiento:</label>
                    <input type="datetime-local" id="username" name="birth">
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="text" id="username" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="re-password">Confirmar contraseña</label>
                    <input type="password" id="password" name="re-password">
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">Guardar</button>
            <button mat-button color="warn">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>


