<h2 mat-dialog-title>Registro de Mascota</h2>
<mat-dialog-content class="mat-typography">
    <form class="form-container">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input id="name" type="text" placeholder="Nombre de la mascota"  name="name" [(ngModel)]="petData.Nombre">
        </div>
        <div class="form-group">
            <label for="sex">Sexo:</label>
            <select id="sex" name="sexo" [(ngModel)]="petData.Sexo">
                <option value="m">Macho</option>
                <option value="h">Hembra</option>
            </select>
        </div>
        <div class="form-group">
            <label for="specie">Especie:</label>
            <select id="specie" name="specie" [(ngModel)]="petData.Especie">
                <option>Perro</option>
                <option>Gato</option>
                <option>Ave</option>
            </select>
        </div>
        <div class="form-group">
            <label for="birth">Fecha de Nacimiento:</label>
            <input type="date" id="birth" name="birth" [(ngModel)]="petData.FechaNacimiento">
        </div>
        <div class="form-group">
            <label for="race">Raza:</label>
            <input id="race" type="text" name="race" placeholder="Raza de la mascota" [(ngModel)]="petData.Raza">
        </div>
        <div class="form-group">
            <label for="color">Color:</label>
            <input id="color" type="text" name="color" placeholder="Raza de la mascota" [(ngModel)]="petData.Color">
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="registerPet()" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
